$CLASSIK_BLACK: #000000;
$CLASSIK_WHITE: #ffffff;
$THEME_BLACK: #181818;
$THEME_BLUE: #226BF6;
$THEME_DARK_GRAY: #2F2F2F;
$THEME_LIGTH_GRAY: #A0A0A0;
$THEME_GRAY: #828282;
$THEME_SMOOTH_GRAY: #999999;
$THEME_RED: #EB001B;
$THEME_WHITE: #e6e8ea;